/* 伪类，定义样式中的变量，方便全局使用 */
:root {
    --centerx: 540px;
    --centery: 360px;
    --width: 1080px;
    --height: 720px;
}

#canvas {
    margin: auto;
    float: none;
    width: var(--width);
    height: var(--height);
    text-align: center;
}

#digital {
    margin: auto;
    position: absolute;
    top: 50px;
    right: 500px;
    float: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: lighter;
    text-indent: 0%;
    text-align: center;
}

/* 闹钟模块 */
#alarm {
    position: absolute;
    margin: auto;
    float: none;
    top: 500px;
    right: 400px;
}

/* 秒表模块 */
#se {
    position: absolute;
    margin: auto;
    float: none;
    top: 500px;
    right: 200px;
}

/* 计时器模块 */
#counter {
    position: absolute;
    margin: auto;
    float: none;
    top: 700px;
    right: 500px;
}

/* 参数设置时间模块 */
#setter {
    position: absolute;
    margin: auto;
    float: none;
    top: 700px;
    right: 200px;
}